.container-more-news{
    @apply flex flex-col items-center p-4;
}
.more-news{
    @apply flex flex-col relative gap-4 pb-4 w-full overflow-hidden;
}
.more-news-item:hover{
    @apply filter brightness-125;
}
.more-news-item:first-child{
    @apply flex flex-col relative;
.more-picture{
    @apply absolute object-cover;
}
.more-data{
    @apply relative text-white text-base;
}
.more-title{
    @apply m-0 relative pl-2 text-xs text-white overflow-ellipsis overflow-hidden w-full;
}
.more-img{
    @apply w-full h-40 p-0 border-0;
}
}
.more-img{
    @apply max-w-sm min-w-1md w-full h-24 m-0 p-1 border-2 border-gray-500 rounded;
}
.section-tech{
    @apply flex flex-col gap-2 max-w-lg pt-14 pb-4 px-4 border rounded;
}
.more-news-item{
    @apply flex gap-2 transition duration-500 ease-in-out transform;
}
.more-picture{
    @apply w-full h-full rounded;
}
.more-news-item{
    @apply flex;
}
.title-more-news{
    @apply absolute;
}
.more-title{
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.tech-title{
    @apply border-nk-aqua;
}
.title-culture{
    @apply border-nk-yellow;
}
.title-sports{
    @apply border-nk-green;
}
.container-data{
    @apply flex flex-col gap-2 p-2 w-98 min-w-sm;
}
.section-news{
    @apply w-max border;
}
.container-btn-sections{
    @apply flex justify-end w-full;
}
.section-news{
    @apply p-3 text-base font-bold rounded text-gray-700 transition duration-500 ease-in-out transform;
}
.section-news:hover{
    @apply text-white  shadow-inner -translate-x-0 scale-105;
}
.tech-more{
    @apply border-nk-aqua;
}
.sports-more{
    @apply border-nk-green;
}
.culture-more{
    @apply border-nk-yellow;
}

.img-recent{
    @apply absolute;
}
@media (min-width: 1024px){
    .more-news{
        @apply grid grid-cols-3;
    }
}