.bar-header{
    @apply bg-gray-900 flex items-center flex-wrap justify-between;
}
.logo-header{
    @apply p-4 text-white;
}
.nav-item{
    @apply list-none;
}
.menu-nav{
    @apply block p-2;
}
.nav-header{
    @apply w-full bg-white z-20;
}
.navbar-burger{
@apply flex items-center px-3 py-2 border rounded text-white border-white;
}
.navbar-burger:hover{
    @apply text-white border-white;
}
.bar-burguer{
    @apply fill-current h-6 w-6 text-gray-700;
}
.container-nav{
    @apply w-full items-center hidden;
}
.nav-items{
    @apply text-sm flex flex-col;
}
.menu-item{
    @apply  block font-bold p-2 pl-3 border-b-2 border-gray-300 text-gray-700 uppercase;
}
.menu-item:hover{
    @apply border-indigo-400 bg-transparent;
}
.menu-item:focus{
    @apply text-blue-500 ;
}
.nav-login{
    @apply px-2 border-l-2 border-r-2 border-gray-500;
}
.btn-login{
    @apply bg-transparent text-white text-lg cursor-pointer font-bold;
}
.nav-login{
    @apply relative left-1/6 w-1/3 rounded-2xl m-6 flex items-center gap-2 bg-gray-900 p-1 justify-center;
}
.social-item-header{
    @apply flex items-center rounded-sm p-2 bg-nk-blue;
}
.item-sub-menu{
@apply block font-bold pl-3 text-gray-700 uppercase;
}
.menu-item-sub-menu{
    @apply hidden;
}

@media (min-width: 1024px) {
    .bar-header{
        @apply flex justify-around p-0 gap-4;
    }
    .menu-nav{
        @apply hidden;
    }
    .container-nav{
        @apply w-auto flex;
    }
    .nav-items{
        @apply flex-grow flex-row;
    }
    .menu-item{
        @apply inline-block border-0 text-white text-xl;
    }
    .items-sub-menu{
        @apply flex flex-col gap-2;
    }
    .nav-header{
        @apply bg-transparent pt-2 h-32;
    }
    .nav-login{
        @apply rounded-none left-0;
    }
    .social-item-header{
        @apply p-0 bg-transparent;
    }
    .sub-menu{
        @apply relative;
    }
    .sub-menu:hover{
        .menu-item-sub-menu{
            @apply block;
        }
    }
    .menu-item-sub-menu{
        @apply hidden absolute text-white ;
    }
    .items-sub-menu{
        @apply p-4 opacity-0 w-56 bg-nk-blue rounded shadow-2xl;
        animation: menu-noticia 0.5s forwards 1;
        animation-delay: 0.4;
    }
    .item-sub-menu{
        @apply flex w-full p-2 text-lg font-extrabold text-white ;
    }
    .item-sub-menu:hover{
        @apply border-b-2 border-white;
    }
    .items-sub-menu::after{
    @apply absolute h-0 w-0 border-nk-blue left-4;
    top: -8px;
    content: "";
    border-top: 8px solid transparent;
    border-right-width: 16px;
    right: 7px;
}
.items-sub-menu::before{
    @apply absolute h-0 w-0 border-nk-blue left-8;
    top: -8px;
    border-left-width: 16px;
    content: "";
    border-top: 8px solid transparent;
}
}
@keyframes menu-noticia{
    0%{
        transform: translate3d(0, 22px, 0);
        opacity: 0;
    }
    100%{
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}